.section-ten {
  width: 100%;
  height: 700px;
  background-color: black;
  background-attachment: fixed;
  > div {
    margin-top: 20px;
    margin-bottom: 80px;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    margin-left: 0;
    > h3 {
      margin-bottom: 40px;
      margin-top: 30px;
      font-family: "fontt", sans-serif;
      font-weight: bold;
      font-size: 50px;
      letter-spacing: 1px;
      text-align: center;
      text-transform: uppercase;
      color: white;
    }
    > div.categori {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-flow: row wrap;
      width: 100%;
      height: 450px;
      //   background-color: antiquewhite;
      > div {
        height: inherit;
        position: relative;
width: 32%;
        // background-color: #22368b;
        // margin-left: 12px !important;
        box-sizing: border-box;
        display: flex;
        flex-flow: column wrap;

        > a.side-one {
          position: absolute;
          top: 0;
          width: 96.9%;
          display: flex;
          height: 191px;
          background-color: aliceblue;
          background-image: url(../../img/carousel-bg.jpg);
          background-repeat: no-repeat;
          background-position: center center;
          > img {
            width: 100%;
            height: 100%;
          }
        }
        > div.side-two {
          display: flex;
          position: absolute;
          top: 191px;
          width: 96.9%;
          height: 259px;
          justify-content: start;
          align-items: start;
          padding: 0 20px;
          flex-flow: column wrap !important;
          background-color: white;
          > h3 {
            display: block;
            font-family: "fontt", sans-serif;
            font-weight: bolder;
            font-size: 30px;
            letter-spacing: 1px;
            text-align: start;
            text-transform: uppercase;
            color: rgb(0, 0, 0);
            line-height: 36px;
            margin: 20px 0px;
            margin-bottom: 0;
          }
          > p {
            font-family: "fontfont", sans-serif;
            line-height: 24px;
            font-weight: 400;
            font-size: 16px;
            margin-bottom: 0;
          }
          > span {
            font-family: "fontt", sans-serif;
            line-height: 24px;
            font-weight: bolder;
            font-size: 16px;
            color: #3b60ff;
          }
        }
      }
    }
  }
}
