.section-eight {
  display: flex;
  justify-content: center;
  align-items: center;
  > div.option-write {
    display: flex;
    flex-flow: column wrap;
    justify-content: start;
    align-items: start;

    padding: 80px;
    > h2 {
      font-size: 70px;
      font-family: "fontt", sans-serif;
      font-weight: bold;
      color: rgb(0, 0, 0);
      text-transform: uppercase;
      > span {
        color: #3b60ff;
      }
    }
    > p {
      font-family: "fontfont", sans-serif;
      font-weight: bold;
      color: rgb(0, 0, 0);
      font-size: 20px;
    }
    > ul {
      list-style-type: none;
      line-height: 32px;
      padding: 0;
      //     background-image: url(../../img/Vector.png);
      // background-position: center;
      // background-repeat: no-repeat;
      // padding: 20px;
      // background-size: cover;
      > li {
        line-height: 32px;
        padding: 3px 0px 3px 50px;
        background-image: url(../../img/Vector.png);
        background-position: start;
        background-repeat: no-repeat;
        font-family: "fontfont", sans-serif;
        font-weight: bold;
        color: rgb(0, 0, 0);
        font-size: 20px;
        // background-size: cover;
      }
    }
    > button.eight {
      padding: 16px 80px;
      border: 0;
      background-color: #3b60ff;
      font-family: "fontt", sans-serif;
      font-size: 24px;
      font-weight: bold;
      align-items: center;
      color: white;
      text-transform: uppercase;
      border-radius: 5px;
    }
  }
}
