section.section-four {
  width: 100%;
  > div.img-four {
    width: 50%;
    height: 251px;
// margin: 0;
    display: flex;
    flex-flow: row wrap;
    > img {
      width: 100%;
      height: inherit;
    }
  }
}
