.section-three {
  width: 100%;
  height: 946px;
  background: url(../../img/hp-background-3.jpg);
  background-attachment: fixed;
  > div {
    margin-top: 80px;
    margin-bottom: 80px;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    margin-left: 0;
    > h3 {
      margin-bottom: 40px;
      margin-top: 30px;
      font-family: "fontt", sans-serif;
      font-weight: bold;
      font-size: 50px;
      letter-spacing: 1px;
      text-align: center;
      text-transform: uppercase;
      color: white;
      > span {
        font-family: "fontt", sans-serif;
        font-weight: bold;
        font-size: 50px;
        letter-spacing: 1px;
        text-align: center;
        color: #3b60ff;
        text-transform: capitalize;
      }
    }
    > div.categori {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-flow: row wrap;
      width: 100%;
      column-gap: 10px;
      height: 614px;
      //   background-color: antiquewhite;
      > div {
        height: inherit;
        position: relative;
        // background-color: #22368b;
        // margin-left: 12px !important;
        box-sizing: border-box;
        display: flex;
        flex-flow: column wrap;
        width:44% !important;
        &:hover {
          > a.side-one {
            background: url(../../img/p2.jpg);
            border: 12px solid #3b60ff;
            // width: 100%;
            // transition: all 50ms;
            > img {
              transform: rotate(-20deg);
            }
          }
          > div.side-two > button.shop {
            background-color: #3b60ff;
            border: unset;
          }
        }
        > a.side-one {
          position: absolute;
          top: 0;
          width: 100%;
          display: flex;
          height: 463.117px;
          background-color: aliceblue;
          background-image: url(../../img/carousel-bg.jpg);
          background-repeat: no-repeat;
          background-position: center center;
          > img {
            width: 100% !important;
            height: 100%;
          }
        }
        > div.side-two {
          display: flex;
          position: absolute;
          bottom: 0;
          width: 100%;
          height: 150.883px;
          justify-content: center;
          align-items: center;
          flex-flow: column wrap !important;
          > h3 {
            display: block;
            font-family: "fontt", sans-serif;
            font-weight: bold;
            font-size: 30px;
            letter-spacing: 1px;
            text-align: center;
            text-transform: uppercase;
            color: white;
            margin: 20px 0px;
          }
          > button.shop {
            padding: 16px 80px;
            border: 2px solid white;
            background-color: black;
            font-family: "fontt", sans-serif;
            font-size: 24px;
            font-weight: bold;
            align-items: center;
            color: white;
            text-transform: uppercase;
            border-radius: 5px;
          }
        }
      }
    }
  }
}
